@import "stylesheet/_mixin.scss";
// мобильная версия
.noTransactions {
    width: 100%;
}

.mobailTrList {

}

.mobailTrItem {
    width: 280px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    display: flex;
    @include mq(mobile) {
         width: 400px;
    }
    &_INCOME {
        composes: mobailTrItem;
            &::before {
                content: '';
                width: 5px;
                background-color: var(--income-cl);
            }
    }
    &_EXPENSE {
        composes: mobailTrItem;
        &::before {
            content: '';
            width: 5px;
            background-color: var(--expense-cl);
        }
    }
}

.mobailTrItem__list {
    flex-grow: 1;
}

.mobailTrItem__row {
    height: 47px;
    padding-left: 15px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--bottom-table-row);
}

.mobailTrItem__cell_value {
    font-weight: 400;
    font-size: 16px;
    &_INCOME {
            composes: mobailTrItem__cell_value;
            color: var(--income-cl);
        }
    &_EXPENSE {
        composes: mobailTrItem__cell_value;
        color: var(--expense-cl);
    }
}

.mobailTrItem__cell {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.47;
}

// таблет и десктоп версии==========================
.tableTrList {
    @include mq(tablet) {
        width:100%;
    }
    @include mq(desktop) {
        
    }
}

.table {
    background-color: #fff;
    border-radius: 30px;
    height: 58px;
}

.tableHeader {
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.47;
    @include mq(tablet) {
        width: 114px;
    }
    @include mq(desktop) {
        width: 116px;
    }
}

.tableScrollBox {
    overflow: scroll;
    @include mq(tablet) {
        height: 30vh;
    }
    
    @include mq(desktop) {
        height: 40vh;
    }
}

.tableBody {
    border-collapse: collapse;
}


.tableRow {
    height: 54px;
    box-shadow: 0px 1px 0px var(--bottom-table-row);
}

.tableData {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.47;
    &_INCOME {
        composes: tableData;
        color: var(--income-cl);
    }
    
    &_EXPENSE {
        composes: tableData;
        color: var(--expense-cl);
    }
    @include mq(tablet) {
        width: 114px;
    }
    
    @include mq(desktop) {
        width: 116px;
    }

}

