@import "../../stylesheet/_mixin.scss";
.section {
  @include mq(s-mobile) {
    width: 100%;
    display: flex;
  }
  @include mq(mobile) {
    width: 100%;
    display: flex;
  }
  @include mq(tablet) {
    display: flex;
  }
  @include mq(desktop) {
    width: 715px;
    flex-wrap: wrap;
  }
}
.title {
  display: none;
  @include mq(desktop) {
    display: block;
    width: 100%;
    height: 65px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    align-items: start;
    color: var(--main-text-cl);
  }
}
.wrapper {
  width: 100%;
  @include mq(tablet) {
    display: flex;
  }
}
