@import "stylesheet/shared.scss";
.select {
  display: flex;
  min-width: 280px;
   font-family: 'Circe', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.5;
   color: #bdbdbd;
   border: none;
   background-color: transparent;
   border-bottom: 1px solid #e0e0e0;
   outline: none;
   @include mq(mobile){
     width: 400px;
   }
   &:focus{
     border: 2px solid var(--expense-cl);
     border-radius: 10px;
    }
  &Wrapper {
  display: flex;
    justify-content: center;
}
}
.error {
  position: absolute;
  color: var(--expense-cl);
  top: 206px;
  // left: 60px;
  @include mq(mobile) {
    top:224px;
    // left: 70px;

  }
    @include mq(tablet) {
    top:236px;
    left: 70px;
  }

}
